.env
.env.*
!.env.example
*.sql.enc
*.sql.enc.sha256
backups/**
!backups/
!backups/.gitkeep
git-transfer/**
!git-transfer/
!git-transfer/.gitkeep
transfer-secrets/**
!transfer-secrets/
!transfer-secrets/.gitkeep
postgres*_data/
